@import "tailwindcss";

@theme {

  --color-primary: #4FBF67;
  --color-primary-dull: #3DAE55;
  
  /* Semantic Variables */
  --color-main-bg: #f0fdf4;     
  --color-main-border: #bbf7d0; 
  --color-main-text: #166534;   
  --color-card-bg: #ffffff;
}

@layer base {
  /* Dark Mode Value Swaps */
  .dark {
    --color-main-bg: #285fde;     
    --color-main-border: #1e293b; 
    --color-main-text: #f1f5f9;   
    --color-card-bg: #1e293b;     
    --color-primary: #5ce67a;     
  }

  body {
    font-family: "Outfit", sans-serif;
    /* This makes the whole page background change automatically */
    @apply bg-main-bg text-main-text transition-colors duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}